<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

main page
<br>
<a href="/show-games">show games</a><br>
<a href="/add-game">Add game</a>
<form method="post" th:action ="@{search-by-name}">
<label>Search by name</label>
<input type ="text" name ="name"/>
<input type ="submit" value ="search"/>
</form>

<form method="post" th:action ="@{search-by-publisher}">
<label>Search by publisher</label>
<input type ="text" name ="publisher"/>
<input type ="submit" value ="search"/>
</form>

<form method="post" th:action ="@{search-by-price}">
<label>Search by price</label>
<input type ="number" step="0.01" name ="price"/>
<input type ="submit" value ="search"/>
</form>

</body>
</html>